h1 {
  font-family: Libre Baskerville;
  text-transform: uppercase;
}

html {
  background-color: black;
}

img {
  width: 100%; 
}

h1, p {
  text-align: center;
  color: white;
}

div {
  width: 50%;
  margin-left: 25%
}